*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  /* z-index: -1; */
}

.small_container{
  background-color: #ffabb6;
  padding: 50px 200px;
  margin: auto;
  border-radius: 50px;
  border: 10px solid #edf7f6;
  position: relative;
  bottom: 50px;
}

.small_container h1{
  color: rgba(0, 166, 255, 0.782);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A28089;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.temp__time{
  font-size: 50px;
}

.heading
{
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 50px;
}

@media screen and (max-width: 678px) {
  .temp__time{
    font-size: 30px;
  }

  .small_container{
    padding: 30px 30px;
  }
  .heading
{
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 50px;
}
}

.getTime__button
{
  border: 1px solid #950f21; 
  padding: 5px;
  background-color: #edf7f6;
  border-radius: 10px;
  position: relative;
  top: 20px;
  left:  0px;
  font-size: 30px;

}