*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(183, 199, 199);
  /* z-index: -1; */
}

.small_container{
  background-color: rgba(200, 197, 117, 0.404);
  padding: 50px 200px;
  margin: auto;
  border-radius: 50px;
  border: 10px solid rgba(104, 130, 137, 0.364);
}

.small_container h1{
  color: rgba(0, 166, 255, 0.782);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}